PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/cashapp
SQUARE_APP_ID=
SQUARE_LOCATION_ID=
SQUARE_ACCESS_TOKEN=
SQUARE_ENVIRONMENT=sandbox
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM_NAME=Cash App Checkout
ADMIN_EMAIL=
